.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.flag{
    height: 80px;
    width: 100%;
    background-size: cover;
}
.name, .cases, .recovered, .deaths{
    padding: 2px;
    font-weight: 700 !important;
}

.name{
    text-align: center;
}